# VS code directories
.vscode/**
.vscode-test/**
# build outputs and other directories
out/**
packages/**
node_modules/**
src/**
Doc/dev/**
resources/dev/**
# file types ignored in whole project (source maps, TS source, configs)
**/tsconfig.json
**/.eslintrc.json
**/webpack.config.js
**/.gitignore
**/*.map
**/*.ts
